

table {
    border-collapse: collapse;
    
  }
  td,
  th {
    border: 1px solid rgb(154, 150, 150);
    padding: 8px 16px;
    /* font-size: 14px; */
    
  }

/* App.css or your custom CSS file */
.input-field {
    padding: 6px 8px;
    font-size: 14px;
    width: 100px; /* Adjust the width to your preference */
  }
  
  .input-date{
    padding: 6px 8px;
    font: 14px;
    width: 200px;
    
  }
